.no-items{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;

  ion-icon {
    font-size: 7rem;
  }

  .hid {
    font-weight: bold;
  }

  .desc {
    margin-top: 15px;

    p {
      margin: 0px;
      line-height: 1.5;
      font-family: "Tajawal-Bold";
      font-size: 16px;
      letter-spacing: 1.1px;
    }
  }

  h2 {
    margin: 0px;
    margin-top: 10px;
    font-family: "Tajawal-Regular";
    font-size: 16px;
    font-weight: 700;
  }
}
.list ion-item{
  border: 1px solid lightgray;
  border-radius: 6px;
}